<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<h1 align="center">Резюме на должность Java-стажер</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <p><h6>ФИО:</h6>
            <div th:text="${seekerDescription.fio}"></div>
            </p>
            <p><h6>Дата рождения:</h6>
            <div th:text="${seekerDescription.birthDate}"></div>
            </p>
            <p><h6>Номер телефона:</h6>
            <ul>
                <th:block th:each="telNumber : ${seekerDescription.telNumber}">
                    <li th:text="${telNumber}">${telNumberItem}
                </th:block>
            </ul>
            </p>
            <p><h6>e-mail:</h6>
            <ul>
                <th:block th:each="eMail : ${seekerDescription.eMail}">
                    <li th:text="${eMail}">
                </th:block>
            </ul>
            </p>
        </div>
        <div class="col-sm-6">
            <img th:src="${seekerDescription.imgSrc}" src=${imgSrc} height="100%" width="100%" alt=${imgSrc}>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>
            <h3>Цель:</h3></p>
            <ul>
                <th:block th:each="target : ${seekerDescription.target}">
                    <li th:text="${target}">
                </th:block>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>
            <h3>Опыт:</h3></p>
            <ul>
                <th:block th:each="experience : ${seekerDescription.experience}">
                    <li th:text="${experience}">
                </th:block>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>
            <h3>Образовние:</h3></p>
            <ul>
                <th:block th:each="education : ${seekerDescription.education}">
                    <li th:text="${education}">${telNumberItem}
                </th:block>
            </ul>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>
            <h3>Доп.Образование и курсы:</h3></p>
            <ul>
                <th:block th:each="additionalEd : ${seekerDescription.additionalEducation}">
                    <li th:text="${additionalEd}">
                </th:block>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>
            <h3>Навыки:</h3></p>
            <ul>
                <th:block th:each="skill : ${seekerDescription.skills}">
                    <li th:text="${skill}">
                </th:block>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>
            <h3>Пример кода:</h3></p>
            <ul>
                <th:block th:each=" codeExample : ${seekerDescription.codeExample}">
                    <li th:text="${codeExample}">
                </th:block>
            </ul>
        </div>

    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>

